@using System.Configuration
@using MySql.Data.MySqlClient
@using Microsoft.AspNetCore.Mvc
@using System.Web
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Razor;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore.Builder

@model dbwt.Models.user_table_info
@{

    if (ViewData["admin"] != null && (bool)ViewData["admin"])
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">ADMIN PANEL</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">





</div>






@Html.Partial("_RegTableLogin", Model.list_anmeldung)



@Html.Partial("_RegTableReg", Model.list_registrierung)










         
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">



        </div>
    </div>
