@{
    ViewData["Title"] = "Products";
}
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Verfügbare Speisen</h1></div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <form>
                    <fieldset>
                        <legend>Speisenfilter </legend>
                    </fieldset>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">First Item</a></li>
                            <li role="presentation"><a href="#">Second Item</a></li>
                            <li role="presentation"><a href="#">Third Item</a></li>
                        </ul>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Label</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Label</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Label</label>
                    </div>
                </form>
                <button class="btn btn-default" type="button">Button</button>
            </div>
            <div class="col-md-10">
                <div class="row" style="height:200px;">
                    <div class="col-md-2" style="">
                        <div class="row">
                            <div class="col-md-12"><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12"><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12"><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-2">
                        <div class="row" >
                            <div class="col-md-12"><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                    <div class="col-md-2" >
                        <div class="row">
                            <div class="col-md-12"><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12"><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12"><img class="img-responsive" src="~/images/speise_icons/default.png" width="100px" height="100px"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span>Text</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><a href="#">Details </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>