@{
    ViewData["Title"] = "Mensa Order System | Impressum";
    ViewData["header_addition"] = "<meta http-equiv=\"refresh\" content=\"3; url=/\"/>";
}




<center><h1> PLEASE WAIT FOR REDIRECTION IN 3 SECONDS</h1></center>