@using System.Configuration
@using MySql.Data.MySqlClient
@using Microsoft.AspNetCore.Mvc
@using System.Web
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Razor;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore.Builder


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Details für "@ViewData["Titel"]"</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">



        </div>
    </div>
