@{
    ViewData["Title"] = "Mensa Order System | Home";
}



    <div id="foodporn">
        <div class="container" style="height:160px;">
            <div class="row">
                <div class="col-md-12" style="height:206;margin:5px;padding:-35px;"><img class="img-responsive" src="~/images/generic_food_bg.png" alt="our generic mensa food"></div>
            </div>
        </div>
    </div>

    <div style="height:183px;" id="gerichte">
        <div class="container" style="height:0;">
            <div class="row" style="height:162px;">
                <div class="col-md-2">
                    <p>Der Dienst e-Mensa ist noch beta. Sie können bereits <a href="#" >Mahlzeiten</a> durchstöbern, aber noch nicht bestellen</p>
                </div>
                <div class="col-md-8" style="height:84px;margin:0;">
                    <div>
                      <h1>Leckere Gerichte vorbstellen</h1>
                      <p>... und gemeinsam mit Kommilitonen und Freunden essen</p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-0" style="padding:20px 0px;width:160px;">
                    <div style="height:51px;">
                        <button class="btn btn_fh_color" type="button" style="margin:0;width:140px;">
                          <span class="glyphicon glyphicon-star"></span> Register
                        </button>
                    </div>
                    <div style="height:51px;">
                        <button class="btn btn_fh_color" type="button" style="margin:0;width:140px;">
                          <span class="glyphicon glyphicon-star"></span> Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="height:183px;" id="register">
        <div class="container" style="height:0;">
            <div class="row" style="height:162px;">
                <div class="col-md-2">
                    <p>Registrieren Sie sich <a href="#">hier</a>, um über die Veröffentlichung des Dienstes per Mail informiert zu werden.</p>
                </div>
                <div class="col-md-10" style="height:84px;margin:0;">
                    <img class="img-responsive" src="~/images/generic_food_bg.png" alt="our generic mensa food">
                </div>
                <div class="col-md-2 col-md-offset-0" style="padding:20px 0px;width:160px;">
                </div>
            </div>
        </div>
    </div>





