@{
    ViewData["Title"] = "Mensa Order System | Start";
}


            <div style="height:250px;" id="foodporn">   
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"><img class="img-responsive img-size" src="./assets/images/generic_food_bg.png" alt="our generic mensa food"></div>
                    </div>
                </div>
            </div>
        
            <div style="height:200px;" id="gerichte">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <p>Der Dienst e-Mensa ist noch beta. Sie können bereits @Html.ActionLink("Mahlzeiten", "Index", "MenueXML") durchstöbern, aber noch nicht bestellen</p>
                        </div>
                        <div class="col-md-8">
                            <div>
                              <h1>Leckere Gerichte vorbstellen</h1>
                              <p>... und gemeinsam mit Kommilitonen und Freunden essen</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-0"> <!-- damit der button nicht rutscht-->
                            <div style="height:50px;">
                               
                                @if (!(bool)ViewData["login"]){ 
                                    <a href="Register" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">
                                        <img src="./assets/images/glyphicons_free/glyphicons/png/glyphicons-346-hand-right.png" /> Register

                                        </a>
                                }
                            </div>
                        <br />
                            <div style="height:50px;">
                                <a href="Login" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">
                                    <img src="./assets/images/glyphicons_free/glyphicons/png/glyphicons-389-exit.png" /> Login
                                    </a>
</div>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div style="height:200px;" id="register">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <p>Registrieren Sie sich 
                                @if (!(bool)ViewData["login"]){
                                    @Html.ActionLink("hier", "Index", "Register")
                            } else { 
                                <p>hier</p>
                            }
                            , um über die Veröffentlichung des Dienstes per Mail informiert zu werden.</p>
                        </div>
                        <div class="col-md-10">
                            <img class="img-responsive img-size" src="./assets/images/generic_food_bg.png" alt="our generic mensa food">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>