@{
string time = DateTime.Now.ToString("h:mm:ss tt");

}

<html lang="de">
        <head>
            <meta charset="utf-8">
            <!-- turn of caching -->
            <meta http-equiv="cache-control" content="max-age=0" />
            <meta http-equiv="cache-control" content="no-cache" />
            <meta http-equiv="expires" content="0" />
            <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
            <meta http-equiv="pragma" content="no-cache" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>eMensa -  @ViewData["Title"]</title>
            <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> -->
            <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
            <link rel="stylesheet" href="/assets/css/styles.min.css">
            <script src="~/assets/js/jquery.min.js"></script>
            <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/js/script.min.js"></script>
            <link rel="stylesheet" href="~/assets/css/Footer-Basic.css">
            <link rel="stylesheet" href="/assets/css/main_custom_style.css">

            @{ 
                if (ViewData["header_addition"] != null)
                {
                    Html.Raw(ViewData["header_addition"]);
                }
            }
        </head>

        <body>


                <header>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <h2>e-Mensa </h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="row" style="margin:15px;">
                                            <div class="col-md-12">

                                                    <div class="container text-center">
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item"><a href="/Home" class="fh_link">Start </a></li>
                                                                <li class="list-inline-item solid_list"><a href="/Produkte" class="fh_link">Mahlzeiten </a></li>
                                                                <li class="list-inline-item solid_list"><a href="#" class="fh_link">Bestellung </a></li>
                                                                <li class="list-inline-item solid_list"><a href="/Impressum" class="fh_link">FH-Aachen </a></li>
                                                                <li class="list-inline-item"></li>
                                                            </ul>
                                                    </div>
                                            </div>                          
                                    </div>
                                </div>
                                <div class="col-md-4" style="">
                                        <div style="margin:15px;">
                                                <form action="http://google.de/search" method="get">
                                                  <input type="search" name="q" placeholder="Search.." />
                                                  <input type="hidden" name="as_sitesearch" value="www.fh-aachen.de" />
                                                   <!--<input type="submit" value="search" class="btn btn-xs btn_fh_color"/>-->
                                                </form>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <hr width="90%" size="10">
                    </header>



        <!-- MAIN BODY START-->

        @RenderBody();

        <!-- MAIN BODY END-->
                <footer>
                        <hr width="90%" size="10">
                        <div class="container">
                                <div class="row">
                                        <div class="col-md-3" >
                                                <p class="copyright">Marcel Ochsendorf © 2017 @time</p>
                                            </div>
                                        <div class="col-md-6" >
                                                <div class="container text-center">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><a href="#" class="fh_link">Login </a></li>
                                                            <li class="list-inline-item solid_list"><a href="#" class="fh_link">Register </a></li>
                                                            <li class="list-inline-item solid_list"><a href="#" class="fh_link">Zutatenliste </a></li>
                                                            <li class="list-inline-item solid_list"><a href="Impressum" class="fh_link">Impressum </a></li>
                                                            <li class="list-inline-item"></li>
                                                        </ul>
                                                </div>
                                        </div>
                                        <div class="col-md-3" >
                                                <div class="social"><a href="https://github.com/RBEGamer"><i class="icon ion-social-github"></i></a></div>
                                            </div>
                                    </div>
                                </div>
                </footer>

        </body>

        </html>
