a {
    color: #00b5ad;
}

.footer-basic .fh_link {
    color: #00b5ad;
}

.navbar .navbar-collapse .fh_link {
    color: #00b5ad;
}


.btn_fh_color {
  color: #FFFFFF;
  background-color: #00B5AD;
  border-color: #130269;
}
